.header {
    display: flex;
    margin: 0 0 0 4px;
    min-width: 0;
    position: relative;
    white-space: nowrap;
    color: #1E2026;
    font-weight: bold;
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.ag-theme-alpine {
    --ag-border-color: transparent;
    --ag-foreground-color: #76808F;
    font-size: 12px;

    .ag-cell{
        font-size: 12px;
        line-height: 18px;
        padding-left: 4px;
        padding-right: 4px;
    }
}

.ag-theme-alpine .ag-header-cell, .ag-theme-alpine .ag-header-group-cell {
    padding-left: 4px;
    padding-right: 4px;
}
.ag-theme-alpine .ag-value-change-value-highlight {
    background-color: rgba(240, 185, 11, 0.5);
}

.filter-row {
    display: flex;
    margin: 4px 4px;
    justify-content: space-between;
    align-content: center;
}

.search {
    margin: 0;
    min-width: 0;
    display: flex;
    position: relative;
    padding-top: 0;
    align-items: center;
    width: 100px;
}

.align-right{
    text-align: right;
}

.radioFilter{
    display: flex;
    align-items: center;
}

.header-change{
    text-align: right;
}

.column-last-price {
    color: #1E2026;
}

.filter-column {
    display: flex;
    background-color: rgb(247, 247, 247);
    flex-wrap: nowrap;
    height: 30px;
    padding: 4px;
    width: 100%;
    justify-content: space-between;

    &-wrapper {
        display: flex;
        flex-wrap: nowrap;
        background: none;

        .category-button {
            background-color: rgb(255, 255, 255);
            cursor: pointer;
            line-height: 100%;
            font-size: 12px;
            display: flex;
            align-items: center;
            position: relative;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(230, 230, 230);
            border-image: initial;
            padding: 4px 5px;
            margin: 0 2px 0 0;
            outline: 0;

            &__text {
                font-size: 16px;
                color: rgb(51, 51, 51);
                border: none;
            }
        }
        .category-button.active {
            color: rgb(240, 185, 11);
            border-color: rgb(243, 186, 47);

            .category-button__text {
                color: rgb(240, 185, 11);
            }
        }
    }

}


